.container {
    display: flex;
    padding-bottom: 50px;
}

#text {
    color: var(--color-black-primary);
    font-weight: 300;
    font-size: var(--font-text);
}
.content {
    margin-left: auto;
    margin-right: auto;
    max-width:700px;
    padding: 0 
}
.contentText {
    margin-left: 20px;
}
.subTitle {
    color: var(--color-green-primary);
}

.Title {
    display: block;
    text-align: center;
    color: var(--color-green-primary);
    font-size: 2rem;
}

.contentText > h1:nth-child(5) {
    text-align: left;
  }


@media (max-width: 700px) { 
    .container {
        padding: var(--padding-content-mobile);
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }

    #text {
        color: var(--color-black-primary);
        font-weight: 300;
        font-size: 15px;
    }
}