.container {
    min-height: 100%;
    padding: 0 30px 0 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    display: flex;
    flex-direction: column;
 }
.container > h3 {
    text-align:center ;
}
.content {
    
}
.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid  var(--color-green-primary);
  cursor: pointer;
}

.answer {
    background-color: var(--color-white);
}

.active {
    display: hidden;   
}
.notActive {
    display: none;
}

.close {
 transform: rotate(0deg);
}
.open {
    transform: rotate(180deg);
}

@media (max-width: 700px) {
  
    .container {
      width: 25em;
    }
}