

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:var(--color-white);
  height: 80px;
  border-bottom: 1px  solid var(--color-primary);
} 

.header > div {
  height: 80px;
  width: 80px;
}
#menu {
  display: flex;
  align-items: center;
  color: var(--color-green-primary);
}

#menu a:hover:not(.active) {
  color: #000;
  transition: 0.3s;
}

.active {
  background: var(--color-primary);
  color: var(--color-white);
}

#menu > a {
  padding: 10px 10px 10px 10px;

}

.image {
  width: 100%;
  height: 100%; 
  object-fit: inherit;
}

/* btn mobile */

#menumobile {
  display: none;
}
@media (max-width: 700px) {
 
  #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background: var(--color-primary);
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
  }  
  #nav.menuactive #menu {  
   
    height: 100vh;
    visibility: visible;
  }

  #menumobile {
    display:flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburger {
    width: 20px;
    border-top: 2px solid;
  }

  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition:  .3s;
    position: relative;
  }
  #nav.menuactive #hamburger {
    border-top-color: transparent;

  }

  #nav.menuactive #hamburger::before {
    transform: rotate(135deg);
    
  }

  #nav.menuactive #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;

  }
}