.container {
    min-height: 100%;
    padding: 0 30px 0 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
  
}

#title {
    color: var(--color-green-primary);   
}

.card {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#text {
    color: var(--color-grey-primary);
    font-weight: 300;
    font-size: var(--font-text);
}

#textStrong {
    color: var(--color-grey-primary);
    font-weight: bold;
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
    .card {
        flex-direction: column;
    }
}