:root {
/*  --color-primary: #3BCFB7;*/
  --color-primary:#36716e ;
  --color-secondary: #65cdda;
  --color-white: #FFF;
  --color-green-primary: #4d9788;
  --color-green-secondary: #78bab2;
  --color-grey-primary: #808080;
  --color-black-primary: #3F3B3B;
  --color-background: #f6f7f9;
  --color-blue-primary: #65cedd;



  --font-text: 1.6rem;

/*Padding mobile */
  --padding-content-mobile:30px 10px 30px 10px;
}
html {
  font-size: 62.5%;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
 font-size: 1.6rem;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}